
@import url('https://fonts.googleapis.com/css?family=Monoton:100,200,300,400,500,600,700|Anton:100,200,300,400,500,600,700');

html,body{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin:0;
    padding:0;
    background-image: url("../pict/bckgr_mobile_1080x1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;    	
}

body h1,h2,h3,h4,h5,h6{
    color: #fff;
    margin: 0;
    padding:0;
    text-transform: uppercase;
}

body h1,h2,h3{
    font-family: monoton, sans-serif;
}

body h4,h5,h6{
    font-family: Anton, sans-serif;
}

header{
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
    height: 425px;
    margin: 0 0 5%;
    padding:0;
}

section{
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
	margin: 5% 0;
    padding:0;
}

footer{
    -webkit-box-ordinal-group:4;
        -ms-flex-order:3;
            order:3;
    margin:0;
    padding:0;
}

.wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*=======================================================================*/
/*==================== Start of Mobile approach==========================*/
/*=======================================================================*/

/* index.html <Back-To-Top> (Start) ===========================*/

#top_back{
    position: fixed;
 	bottom: 10px;
    left: 84%;
    width: 40px;
    height: 40px;
    border: solid 2px white;
    background-image: url("../pict/icons/buttonup.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

#top_back:hover {
        border: solid 2px red;
	}

/* index.html <Back-To-Top> (End) =============================*/

/* index.html <header> (Start) ================================*/

.header_container{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin:10px 0 0;
    padding:0;
    /* width: 340px; */
    width: 320px;
}

.header_title{
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: left;
    background-color: transparent;
}

.header_nav{
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
    margin: 4px 0;
}

.header_logo{
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    margin-bottom: 10px;
    padding:0;
    background: url("../pict/The Guess Who 1972-74_250x282.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 400px;
}

.nav_btn{
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border: none;
    margin: 0px;
    padding: 2px;
}

.header_nav .bar{
    content: "";
    width: 30px;
    height: 4px;
    margin: 5px;
    padding: 0px;
    background-color: #fafafa;
    border-radius: 50%;
}

.nav_toggle{
    position: absolute;
    width: 80%;
    padding: 6% 0;
    left: -80%;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.7s ease-in-out;
    transition: -webkit-transform 0.7s ease-in-out;
    transition: transform 0.7s ease-in-out;
    transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

.nav_toggle ul li{
    list-style: none;
    padding: 0;
}   
    
.toggle_menu{
    width: 100%;
    margin:0;
    padding: 0;
}

.toggle_item{
    width: 100%;
    font-family: monoton, sans-serif;
    font-size: 2.24em;
    text-align: right;
    color: #fafafa;
}

.toggle_link{
    display: block;
    text-decoration: none;
    background-color: #0f0f0f;
    opacity: 0.8;
    color: #fff;
    padding: 10px 5px;
    -webkit-transition: color 0.5s ease-in-out, background-color 1s ease-in-out;
    transition: color 0.5s ease-in-out, background-color 1s ease-in-out;
}

.nav_btn:focus{
    outline: none;
}

.nav_btn:hover .bar{
    background-color: #0f0f0f;
}

.nav_btn:hover +.nav_toggle{
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
}

.toggle_link:hover{
    color: #0f0f0f;
    background-color: #fff;
}

/* index.html <header> (End) ==================================*/

/* index.html <section> (Start) ===============================*/

.section_container{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin:0 5%;
}

.column_40{
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
}

.column_60{
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
    margin: 15px 10px;
}

.column_title{
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
    font-size: 2.2em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

/* index.html <section> (End) =================================*/

/* index.html <footer> (Start) ================================*/

.footer_container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #360c0c;
    margin: 0 0 10px 0;
    width: 100%;
    text-align: center;
}

.footer_POBox{
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 10px;
}

.footer_POBox >h4{
	font-size: 1em;
	width: 100%;
	color: #fafafa;
	margin: 5px 0 0 25px;
	letter-spacing: .5em; 
	text-align: left;	
}

.footer_POBox .fanclub{
	font-size: 1.2em;
	margin-bottom: 5px;	
}

.footer_socialmedia{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;    
    background-color: #360c0c;
    color: #fafafa;
    text-transform: uppercase;
}

.column_title.socialmedia{
    font-size: 1.5em;
    text-align: center;
}

.column_title.socialmedia:hover{
	background-color: white;
    color: black;
}

.sm_icon {
    width: 48px;
    height: 48px;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.fcbk_icon{
	-webkit-box-ordinal-group:3;
	    -ms-flex-order:2;
	        order:2;
    background: url("../pict/icons/facebook-4-48.png");
}

.twt_icon{
	-webkit-box-ordinal-group:4;
	    -ms-flex-order:3;
	        order:3;
    background: url("../pict/icons/twitter-4-48.png");
}

.ytb_icon{
    -webkit-box-ordinal-group:5;
        -ms-flex-order:4;
            order:4;
    background: url("../pict/icons/youtube-4-48.png");
}

.footer_design{    
    display: none;
}

/* index.html <footer> (End) ==================================*/


/*==================================================================*/
/*===================== Start Site Contents ========================*/
/*==================================================================*/

/* index.html <section> Contents (Start) ======================*/

/*------------------------Column_40 / Slider "The Albums"*/

.slider {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    /* width: 340px; */
    width: 320px;
    text-align: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.slider_controls{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px;
}

.slide_link{
    content: "";
    width: 25px;
    height: 25px;
    margin: 5px;
    background-color: #626262;
    border-radius: 50%;
    cursor:pointer;
    font-family: Anton, sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
    
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    
    transition: -webkit-transform 0.2s ease-in-out;
    
    transition: transform 0.2s ease-in-out;
    
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.slide_link:hover {
  	-webkit-transform: scale(1.3,1.3);
  	        transform: scale(1.3,1.3);
  	background-color: #fff;
  	color: #0f0f0f;
}

.slider_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.slider_box > div{
	border-radius: 10px;
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s;    
    -webkit-transition: transform 1s;
	-moz-transition: transform 1s;
	-o-transition: transform 1s;
}
	    
.slider_box > div:hover{    
    -webkit-transform-origin: center center;    
            transform-origin: center center;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
}

.slide{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin:5px;
}

#slide_1{
    background-image: url("../pict/album_nav/slide_01.jpg")
}
#slide_2{
    background-image: url("../pict/album_nav/slide_02.jpg")
}
#slide_3{
    background-image: url("../pict/album_nav/slide_03.jpg")
}
#slide_4{
    background-image: url("../pict/album_nav/slide_04.jpg")
}
#slide_5{
    background-image: url("../pict/album_nav/slide_05.jpg")
}
#slide_6{
    background-image: url("../pict/album_nav/slide_06.jpg")
}
#slide_7{
    background-image: url("../pict/album_nav/slide_07.jpg")
}
#slide_8{
    background-image: url("../pict/album_nav/slide_08.jpg")
}

.album_cover{
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
    height: 275px;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.album_title{
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
    width: 300px;
    height: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.6em;
}

.album_text{
    -webkit-box-ordinal-group:4;
        -ms-flex-order:3;
            order:3;
    margin: 20px;
    height: 75px;
    margin-top: 10px;
    font-family: Anton, sans-serif;
    font-size: 1em;
    color: #0f0f0f;
    text-align: center;
}

.album_text > p {
    margin:0;    
}

/*-----------------Column_60 / .band_history "The History*/
					
.column_60 >article{
	margin-top:0;
    margin-left: auto;
    margin-right: auto;
}

.band_history{
	font-family: Anton, sans-serif;
    color: #bab7b7;    
    font-size: 1.1em;
    text-align: start;
    margin-top: 0;
}


/* index.html <section> Contents (End) ========================*/

/* pict.html <section> Contents (Start) =======================*/

/*---------------------Column_40 / Gallery "The Concerts"*/

.gallery{
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 340px;
    text-align: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.gallery_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: auto;
    background-color: transparent;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;        
}

.gallery_box > div{
	border-radius: 10px;
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s;
    margin: 10px;
    -webkit-transition: transform 1s;
	-moz-transition: transform 1s;
	-o-transition: transform 1s;
}

.gallery_box > div:hover{    
    -webkit-transform-origin: center center;    
            transform-origin: center center;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.gallery_pict{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin:5px;
    width:85%;
}

#pict_1{
    background-image: url("../pict/pict_nav/pict_01.jpg")
}
#pict_2{
    background-image: url("../pict/pict_nav/pict_02.jpg")
}
#pict_3{
    background-image: url("../pict/pict_nav/pict_03.jpg")
}
#pict_4{
    background-image: url("../pict/pict_nav/pict_04.jpg")
}
#pict_5{
    background-image: url("../pict/pict_nav/pict_05.jpg")
}
#pict_6{
    background-image: url("../pict/pict_nav/pict_06.jpg")
}
#pict_7{
    background-image: url("../pict/pict_nav/pict_07.jpg")
}
#pict_8{
    background-image: url("../pict/pict_nav/pict_08.jpg")
}
#pict_9{
    background-image: url("../pict/pict_nav/pict_09.jpg")
}

.picture{
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
    height: 250px;
    margin:2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pict_text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: Anton, sans-serif;
    font-size: 1.1em;
    color: #0f0f0f;
    text-align: center;
    margin-top: 5px;
}

.pict_title{
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
    width: 300px;
    height: 25px;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.3em;
    color: #0f0f0f;
}

.pict_text > h3{
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
}

.pict_text > span{
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 10px 0 0;
}

/*------------------Column_60 / .fans_feedback "The Fans"*/
					
.fans_feedback{
	font-family: Anton, sans-serif;
    color: #bab7b7;    
    font-size: 1.1em;
    text-align: start;
}

.fans_feedback > span{
    color: #fafafa;
}

.fans_feedback > p{
    margin-bottom: 0;
}


/* pict.html <section> Contents (End) =========================*/

/* clips.html <section> Contents (Start) ======================*/

/*-----------------------Column_40 / x4 clips "The Clips"*/

.clips{
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
    width: 310px;
    margin: 0 auto 20px;
    text-align: center;
}

.clips_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: transparent;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.clips_box > div{
	border-radius: 10px;
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s;
    margin: 10px;
    -webkit-transition: transform 1s;
	-moz-transition: transform 1s;
	-o-transition: transform 1s;
	background-color: #fafafa;
}

.clips_box > div:hover{    
    -webkit-transform-origin: center center;    
            transform-origin: center center;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.clip_embed > h3{
    margin:0;
    padding: 0;    
    text-align: center; 
}
    
.clip_embed > article:hover{
    -webkit-animation-name: flip;
            animation-name: flip;    
    -webkit-animation-iteration-count: 1;    
            animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

.clip_title{
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
    width: 250px;
    margin: 0 7px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #0f0f0f;
    font-family: Anton, sans-serif;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
}

/*--------------------Column_60 / x1 clip "The Making of"*/

.column_60  >div{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.clip_making_of{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    font-family: Anton, sans-serif;  
    font-size: 1.1em;
    text-align: left;
    margin-top: 0;
}

.clip_alone{
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
    width: 310px;
    margin: 0 auto 20px;
    text-align: center;}

.back_to_clip{
    text-decoration: none;
    font-style: italic;
    color: #fafafa;
    letter-spacing: 0.1em;
}

.back_to_clip:hover{
    color: #0f0f0f;
}

.clip_span{
    display: block;
    color: #bab7b7;
    text-align: justify;
    margin-bottom: 20px;
}

.span_1{
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
}

.span_2{
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
}

.span_3{
    -webkit-box-ordinal-group:5;
        -ms-flex-order:4;
            order:4;
}

.span_4{
    -webkit-box-ordinal-group:6;
        -ms-flex-order:5;
            order:5;
}

.span_italic{
    color: #fafafa;
    font-style: italic;
}

/* clips.html <section> Contents (End) ========================*/

/* events.html <section> Contents (Start) =====================*/

/*--------------Column_40 / x12 eventss "Upcoming Events"*/

.events{
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
    width: 310px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.events_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow-x: scroll;
    width:100%;
}

.events_box > div{
	border-radius: 10px;
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s;
    margin: 10px;
    -webkit-transition: transform 1s;
	-moz-transition: transform 1s;
	-o-transition: transform 1s;
	background-color: #fafafa;
}

.events_box > div:hover{    
    -webkit-transform-origin: center center;    
            transform-origin: center center;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.event{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*width: 80%;*/
    height: 400px;
    background-color: #fafafa;
    margin-bottom: 30px;
    border-radius: 10px;
}

.event_date_weekday{
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
    font-size: 2.2em;
    color: #0f0f0f;
    font-family: Anton, sans-serif;
    /*letter-spacing: 0.5em;*/
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.event_date_box{
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.event_date_box >h4,h5{
    color: #360c0c;
    font-family: Monoton, sans-serif;
    margin:0 5px;
    text-transform: uppercase;
    font-size: 2.5em;
}

.event_date_day{
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.event_date_month{
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}

.event_date_year{
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
}

.event_footer_box{
    -webkit-box-ordinal-group:4;
        -ms-flex-order:3;
            order:3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.event_text{
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 5% 0
}

.event_text >h2, h3{
    color: #0f0f0f;
    font-family: Anton, sans-serif;
}

.event_city{
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
    font-size: 2em;
}

.event_country{
    -webkit-box-ordinal-group:4;
        -ms-flex-order:3;
            order:3;
    font-size: 1.5em;
}

.event_venue{
    -webkit-box-ordinal-group:5;
        -ms-flex-order:4;
            order:4;
}

.event_barcode{  
    -webkit-box-ordinal-group:4;  
        -ms-flex-order:3;  
            order:3;
    background-image: url("/docs/pict/ticket_nav/ticket_barcode.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30%;
}

.event_sold_out{
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    margin: 10% 0 0 0;
}

.event_sold_out >h2{
    color: #d00000;
    font-family: Monoton, sans-serif;
    font-size: 2em; 
}

/*--------------Column_60 / x1 box "Purchase Tickets here*/

.column_60  >div{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.purchase_ticket{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    font-family: Anton, sans-serif;  
    font-size: 1.1em;
    text-align: start;
    margin-top: 0;
}

.purchase_button{
    width: 50%;
    height: 150px;
    border-radius: 50%;
    background-color: red;
    border: solid 5px black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    /*opacity: 0.8;*/
}

.purchase_link{
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    font-family: Monoton, sans-serif;
    font-size: 1.6em;
    text-align: center;
}    
    
/* events.html <section> Contents (End) =======================*/

/* contact.html <section> Contents (Start) =====================*/

.footer_form{
	-webkit-box-ordinal-group:3;
	    -ms-flex-order:2;
	        order:2;                                       
    display:-webkit-box;                                       
    display:-ms-flexbox;                                       
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width:340px;
    margin-bottom: 10px;
    font-family: Anton, sans-serif;
    color: #fafafa;
    text-transform: uppercase;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer_form >label{
    font-size: 1.3em;    
}

.footer_form >input{
    text-align: center;
    word-wrap: break-word;
	font-style: italic;
	font-size: 0.9em;
	font-family: Anton, sans-serif;
    margin: 5px 0 10px;
    border-radius: 5%;
}

.column_title .contact{
    font-size: .7em;
}

.footer_form_comments{    
    height: 200px;
    width: 330px;
}

.footer_form_email{
	height: 25px;
    width: 330px;
}

.footer_form_submit{
   height: 35px;
   width: 100px;
   text-transform: uppercase;
   background-color: #9e9e9f;
}

/* contact.html <section> Contents (End) =====================*/


/*==================================================================*/
/*====================== End Site Contents==========================*/
/*==================================================================*/



/*=======================================================================*/
/*==================== End of Body Mobile approach=======================*/
/*=======================================================================*/

/*=======================================================================*/
/*====================== Start of Media queries =========================*/
/*=======================================================================*/

/*-----------------------------------------Tablet Media queries*/
/*-------------------------------------------------------------*/

/*@media all and (min-device-width : 416px){*/

@media (min-device-width : 416px){

body{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000000;
    background-size: contain;
}

header{
    height: 150px;
    margin:0;
    width: 100%;
}

section{
    margin-top: 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}

footer{    
    width:100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#top_back{
	display:none;
}

/*----------------------------------------------Tablet <header>*/

.header_container{
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: unset;
}

.header_title{
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: justify;
    text-overflow: ellipsis;
    min-width: 60%;
	font-size: 2.2em;
	letter-spacing: 3px;
}

.header_logo{
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    min-width: 40%;
    min-height:unset;
    height: 140px;
}  

.nav_toggle{
    margin-top: 70px;
    padding: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
}

.nav_btn{
    display:none;
}

.toggle_menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.toggle_item{
    font-size: 1em;
    text-align: center;
}

.toggle_link{
    padding: 5px;
}

/*---------------------------------------------Tablet <section>*/

.section_container{
    margin: 10px 0 0px;
}

.column_40{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    width: 100%;
    margin: 0 0 10px;
}

.column_60{
	margin: 0;
	width: 100%;
}

.column_60 >article{    
    margin: 0 5% 0;
    text-align: left;
}

.column_title{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.8em;
	letter-spacing: 3px;
    margin: 15px 0 0;
}

/*----------------------------HOME section Contents (MQ Tablet)*/
/*-------------------------------------------------------------*/

/*"-----------------------Column_40 / .slider "The Albums*/

.slider {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.slide{
    min-width: 55%;
}

.album_cover{
    height: 150px;
}

.album_title{
    width: 100%;
}

.album_text{
    width: 100%;
    font-size: .8em;
    margin:10px 0 0;
}

/* index.html <section> Contents (End) ========================*/

/*------------------------End HOME section Contents (MQ Tablet)*/
/*-------------------------------------------------------------*/

/*------------------------PICTURES section Contents (MQ Tablet)*/
/*-------------------------------------------------------------*/

.gallery{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.gallery_box{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.gallery_box > div{
    max-width: 44%;
}

.picture{
    max-height: 25%;
}

.pict_title {
    width: unset;
}

.pict_text{
    max-height: 75px;
    margin-bottom: 35px;
}

/*"----------------------Column_60 / .band_history "The History*/
					
.fans_feedback{
    /*font-size: 1.3em;*/
    width: 90%;
}

/*--------------------End PICTURES section Contents (MQ Tablet)*/

/*---------------------------------------CLIPS section Contents*/

.clips{
    width: 70%;
    /*height:auto; */
}

.clips_box > div{
	border-radius: 10px;
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s;
    margin: 10px;
    -webkit-transition: transform 1s;
	-moz-transition: transform 1s;
	-o-transition: transform 1s;
}

.clips_box > div:hover{    
    -webkit-transform-origin: center center;    
            transform-origin: center center;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.clips_box >ul{
    padding: 0;
}

.clip_list{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
    margin-bottom: 10px;
}

.clip_list_item{
    text-decoration: none;
    font-family: Anton, sans-serif;
    color: #fafafa;
    text-decoration: none;
    text-transform: uppercase;
    color: #fafafa;
}

.clips_link{
    font-size: 1.2em;
    
}

.clip_embed{
    width: 100%;
    height:500px;
    background-color: blue;
    border: 2px solid yellow;
}

/*-----------------------------------End CLIPS section Contents*/

/*--------------------------------Start EVENTS section Contents*/
/*----------------------------------End EVENTS section Contents*/

/*--------------------------------Start CONTACT section Contents*/

.footer_form{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
}

.footer_form >input{
    text-align:center;
	height: 25px;  
}

.footer_form_comments{ 
    width: 100%;
}

.footer_form_email{
    width: 100%;
}

.footer_form_submit{
   width: 150px;
}

/*----------------------------------End CONTACT section Contents*/


/*----------------------------------------------Tablet <footer>*/

.footer_container{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #8e1623;
	opacity: 0.9;
}

.footer_POBox{
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
}

.footer_POBox >h4{
	font-size: 1.1em;
	margin: 0 0 0 25px;
	letter-spacing: .7em;
	text-align: left;
	margin-bottom: 9px;
}

.footer_POBox .fanclub{
	font-size: 1.8em;
}

.footer_socialmedia{
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
    margin: 10px 0;
    width: 95%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 125px;
	border-radius: 25px;
}

.footer_design{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-ordinal-group: 4;
	    -ms-flex-order: 3;
	        order: 3;
    height: 100px;
    width: 100px;
	margin: 10px 0 ;
	background-image: url("../pict/icons/rubik-icon-23_trnsp_100x100.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.9;
}

.footer_design:hover{
    -webkit-animation-name: spin;
            animation-name: spin;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}


/*-----------------------------------------Laptop Media queries*/
/*-------------------------------------------------------------*/

@media (min-device-width : 768px){
    
body{
    background-size: cover;
}

header{
    height: 200px;
}

section{
    margin: 2% auto 0;
}

footer{    
    width:100%;
    height:300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/*----------------------------------------------Laptop <header>*/

.header_title{
     font-size: 4em;
}

.header_logo{
    min-width: unset;
    width: 20%;
}

/*---------------------------------------------------Nav Toggle*/

.toggle_item{
    font-size: 1.8em;
}

/*---------------------------------------------Laptop <section>*/

.column_title{
    font-size: 3em;
}

.album_cover{
    height: 200px;
}

/*----------------------------------------------Laptop <footer>*/

.footer_container{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.footer_POBox{
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
}

.footer_POBox >h4{
	font-size: 1.1em;
	margin: 0 0 0 25px;
	letter-spacing: .7em;
	text-align: left;
	margin-bottom: 9px;
}
 
.footer_POBox .fanclub{
	font-size: 1.6em;
}

.footer_socialmedia{
    -webkit-box-ordinal-group:4;
        -ms-flex-order:3;
            order:3;
    width: 30%;
    margin-right: 15px;
}

.footer_socialmedia >h2{
    display: none;
}

.footer_design{
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
    height: 200px;
    width: 75px;
}


/*----------------------------HOME section Contents (MQ Laptop)*/
/*-------------------------------------------------------------*/

/*"----------------------Column_60 / .band_history "The History*/
					
.band_history{  
    font-size: 1.3em;
}
      				
/*------------------------End HOME section Contents (MQ Laptop)*/
/*-------------------------------------------------------------*/

/*------------------------PICTURES section Contents (MQ Laptop)*/
/*-------------------------------------------------------------*/

/*<<<<<<<<<<<<<<<<<<<<< No changes needed! >>>>>>>>>>>>>>>>>>>>*/
 
/*--------------------End PICTURES section Contents (MQ Laptop)*/
/*-------------------------------------------------------------*/

}

/*-----------------------------------Large Screen Media queries*/
/*-------------------------------------------------------------*/

@media (min-device-width : 1024px){
    
/*----------------------------------------------Screen <header>*/

.header_title{
     font-size: 5em;
}

/*---------------------------------------------------Nav Toggle*/

.toggle_item{
    font-size: 2.3em;
}

/*---------------------------------------Large Screen <section>*/

.column_60{
	width: 80%;
}

.column_title{
    font-size: 4.2em;
}

/*---------------------HOME section Contents (MQ Large Screens)*/
/*-------------------------------------------------------------*/

/*"-----------------------------Column_40 / .slider "The Albums*/

.slider {
    width: 80%;
}

.album_cover{
    height: 300px;
}

/*"----------------------Column_60 / .band_history "The History*/
					
.band_history{  
    font-size: 1.5em;
}
      				
/*------------------End HOME section Contents (MQ Large Screens)*/
/*--------------------------------------------------------------*/


/*----------------------------------------Large Screen <footer>*/

.footer_POBox >h4{
    font-size: 1.3em;
}

.footer_POBox .fanclub{
       font-size: 2em;
       text-align: left;
}
 
.footer_socialmedia{
    width: 35%;
}

.footer_design{
    width: 125px;
}

}

/*=======================================================================*/
/*======================= End of Media queries ==========================*/
/*=======================================================================*/

/*=======================================================================*/
/*=======================  Start of Animations ==========================*/
/*=======================================================================*/

@-webkit-keyframes flip{
    
from{
 -webkit-transform: rotateY(0deg);
         transform: rotateY(0deg)   
}

to{
 -webkit-transform: rotateY(360deg);
         transform: rotateY(360deg) 
 }
 
}

@keyframes flip{
    
from{
 -webkit-transform: rotateY(0deg);
         transform: rotateY(0deg)   
}

to{
 -webkit-transform: rotateY(360deg);
         transform: rotateY(360deg) 
 }
 
}

@-webkit-keyframes spin{
	
    0%{
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    }
    
    100%{
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    /*-moz-transform: rotate(-360deg);*/
    /*-webkit-transform: rotate(360deg);*/
    /*-o-transform: rotate(360deg);*/
    /*-ms-transform: rotate(360deg);*/
	}
}

@keyframes spin{
	
    0%{
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    }
    
    100%{
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    /*-moz-transform: rotate(-360deg);*/
    /*-webkit-transform: rotate(360deg);*/
    /*-o-transform: rotate(360deg);*/
    /*-ms-transform: rotate(360deg);*/
	}
}

/*=======================================================================*/
/*========================  End of Animations ===========================*/
/*=======================================================================*/


    		/*----------------------------bin------------------------------*/
			/*-------------------------------------------------------------*/
			
			/*--------------------*//*ooooooooooo*//*----------------------*/
			/*--------------------*//*   B I N   *//*----------------------*/
			/*--------------------*//*ooooooooooo*//*----------------------*/

		    /*border: solid 1px green;*/
            
            /*margin:1% 0 8%;*/
            /*width: auto;*/
            /*margin-left: auto;*/
            /*margin-right: auto;*/ 
            /*align-items: center; */
            
            /*font-size: small;}*/
			/*color: #fafafa;*/
			/*color: #9e9e9f;*/
			/*margin: 5px 40px;*/
			/*letter-spacing: .5em; */
	
			/*.footer_container .column_40:hover +.column_60.socialmedia{*/
			/*	background-color: #ed7621;*/
			
			/*	background-color: white;*/
			/*    color: grey;*/
			/*}*/
			/*.footer_container .column_60:hover +.column_40 .contact{*/
			/*		background-color: #ed7621;*/
			
			/*	background-color: white;*/
			/*    color: grey;*/
			/*}*/


			/*.slide::-webkit-scrollbar-thumb {*/
			/*    background: red;*/
			/*    border-color: black;*/
			/*    height: 10px;*/
			/*    border-radius: 10px;*/
			/*}*/
			
			/*#slide_1:target ~ .slide{left: 0px;}*/
			/*#slide_2:target ~ .slide{left: 150px;}*/
			/*#slide_3:target ~ .slide{left: 300px;}*/
			/*#slide_4:target ~ .slide{left: 450px;}*/
			/*#slide_5:target ~ .slide{left: 600px;}*/
			/*#slide_6:target ~ .slide{left: 750px;}*/
			/*#slide_7:target ~ .slide{left: 900px;}*/   
		
			/*flex-shrink: 0;*/
		    /*height: 400px;*/
		    
		    /*.column_40{*/
		    /*order:1;*/
		    /*width: 40%;*/
		    /*background-color: transparent;*/
		    /*background-color: #fff;*/
		    /*opacity: 0.5;*/
		    /*border: solid 2px green;*/
			/*}*/
		
			/*.column_60{*/
		    /*order:2;*/
		    /*width: 60%;*/
		    /*color: #fff;*/
		    /*font-family: Anton, sans-serif;*/
		    /*background-color: red;*/
		    /*background-color: #0f0f0f;*/
		    /*opacity: 0.5;*/
		    /*border: solid 2px green;*/
			/*}*/
		
			/*.wrapper{*/
		
		    /*display: flex;*/
		    /*width: auto;*/
		    /*min-width: 600px;*/
			/*} */
		
			/*.header_nav .nav_btn:hover +.nav_toggle{*/
			    /*transform: translateX(-140%);*/
			/*}*/
		   
			/*header {*/
			    /*min-height: 200px;*/
			    /*max-height: 200px;*/
			/*}*/
		
			/*header{*/
			/*    order:1;*/
			/*    margin:1px;*/
			/*    padding:0;*/
			/*    min-height: 425px;*/
			/*}*/
			
			/*.column {*/
			/*	display:flex;*/
			/*    flex-direction: column;*/
			/*    justify-content: center;*/
			/*    background-color: transparent;*/
			/*    text-align: center;*/
			/*    border-color: #34343d;*/
			/*}*/
			
			/*.header_nav .nav_btn:focus{*/
			/*    outline: none;*/
			/*}*/
			
			/*.header_nav .slide_link:hover .bar{*/
			/*    background-color: #ed7621;*/
			/*    background-color: #0f0f0f;*/
			/*}*/
			
			/*.header_nav .toggle_link:hover{*/
			/*    color: #0f0f0f;*/
			/*    background-color: #fff;*/
			/*}*/
			
			/*.slider::-webkit-scrollbar {*/
			/*    width: 10px;*/
			/*    height: 10px;*/
			/*}*/
			
			/*.slides::-webkit-scrollbar-track {*/
			/*    background: transparent;*/
			/*}*/
			
			/*.slider_box > div:target {*/
			/*  transform: scale(0.8);*/
			/*}*/
			
			/*.open_slider{*/
			/*}*/
			
			/*    word-wrap: break-word;*/
			/*    word-break: break-all;*/
			/*    height: 80px;*/
			/*}*/