/* START MEDIA QUERIES =================================================================*/
/* Small devices (landscape phones, 576px and up)========================*/
@media (min-width : 576x){
    body{
        align-items: center;
        background-size: cover;
    }
    header{
        height: unset;
        margin:0;
        /* width: 100%; */
    }
    section{
        margin: 2%;
        justify-content: center;
        width: 100%;
    }
    footer{    
        width:100%;
        justify-content: center;
    }
    #top_back{
        display:none;
    }
    .header_container{
        /* flex-flow: row nowrap; */
        width: 100%;
        align-content: center;
        align-items: center;
        justify-content: center;
        /* height: unset; */
    }
    .header_title{
        order: 2;
        text-align: justify;
        text-overflow: ellipsis;
        /* min-width: 60%; */
        /* font-size: 2.2em; */
        letter-spacing: 3px;
    }
    .header_nav{
        width:100%;
        order: 3;
    }
    .header_logo{
        order: 1;
        margin:0;
        width: 25%;
        min-height:unset;
        background-position: unset;
        background-repeat: no-repeat;
        background-size: contain;
        height: 140px;
    }
    .nav_btn{
        display:none;
    }
    .nav_toggle{
        position: relative;
        /* margin-top: 70px; */
        padding: 0;
        width: 100%;
        left: 0%;
        transform: translateX(0%);
    }
    .toggle_menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .toggle_item{
        font-size: unset;
        text-align: center;
    }
    .toggle_link{
        flex-grow: 1;
        padding: 0px;        
    }
    .section_container{
        margin: 10px 0 0px;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    .column_left, .column_right{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: 50%;
        margin: 0 0 10px;
    }
    .column_right > article{    
        margin: 0 5% 0;
        text-align: left;
    }
    .footer_container{
        justify-content: space-between;
        align-items: center;
        background-color: #8e1623;
        opacity: 0.9;
    }
    .footer_POBox{
        order: 2;
    }
    .footer_POBox >h4{
        font-size: 1.1em;
        margin: 0 0 0 25px;
        letter-spacing: .7em;
        text-align: left;
        margin-bottom: 9px;
    }
    .footer_POBox .fanclub{
        font-size: 1.8em;
    }
    .footer_socialmedia{
        order:1;
        margin: 10px 0;
        width: 95%;
        align-items: center;
        height: 125px;
        border-radius: 25px;
    }
    .footer_design{
        display: flex;
        order: 3;
        height: 100px;
        width: 100px;
        margin: 10px 0 ;
        background-image: url("../images/icons/rubik-icon-23_trnsp_100x100.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.9;
    }
    .footer_design:hover{
        animation-name: spin;
        animation-iteration-count: infinite;
        animation-duration: 2.5s;
        animation-timing-function: linear;
    }
    .slider {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .slide{
        min-width: 55%;
    }
    .slide_cover{
        height: 150px;
        width: unset;
    }
    .slide_text{
        width: unset;
    }
    .gallery{
        width:90%;
        margin-left: auto;
        margin-right: auto;
    }
    .gallery_box{
        justify-content: center;
        flex-wrap: wrap;
    }
    .gallery_box > div{
        max-width: 44%;
    }
    .picture{
        max-height: 25%;
    }
    .pict_title {
        width: unset;
    }
    .pict_text{
        max-height: 75px;
        margin-bottom: 35px;
    }               
    .fans_feedback{
        /*font-size: 1.3em;*/
        width: 90%;
    }
    .clips{
        width: 70%;
    }
    .clips_box > div{
        border-radius: 10px;
        transition: transform 1s;
        margin: 10px;

    }
    .clips_box > div:hover{    
        transform-origin: center center;
        transform: scale(1.1);
    }
    .clips_box > ul{
        padding: 0;
        text-decoration: none;
        background-color: #fafafa;
    }
    .clip_list{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        margin-bottom: 10px;
    }
    .clip_list_item{
        text-decoration: none;
        font-family: Anton, sans-serif;
        color: #fafafa;
        text-decoration: none;
        text-transform: uppercase;
        color: #fafafa;
    }
    .clips_link{
        font-size: 1.2em;
        
    }
    .feedback_form{
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
    }
    .feedback_form >input{
        text-align:center;
        height: 25px;  
    }
    .feedback_form_comments{ 
        width: 100%;
    }
    .feedback_form_name, .feedback_form_email {
        width: 100%;
    }
    .feedback_form_submit{
        width: 150px;
    }
}
/* Medium devices (tablets, 768px and up)================================*/
@media (min-width : 768px){
    body{
        background-size: cover;
    }
    header{
        height: 200px;
    }
    section{
        margin: 2% auto 0;
    }
    footer{    
        width:100%;
        justify-content: center;
        justify-content: center;
    }
    .header_logo{
        min-width: unset;
        width: 20%;
    }
    .album_cover{
        height: 200px;
    }
    .footer_container{
        flex-direction: row;
    }
    .footer_POBox{
        order: 1;
    }
    .footer_POBox >h4{
        font-size: 1.1em;
        margin: 0 0 0 25px;
        letter-spacing: .7em;
        text-align: left;
        margin-bottom: 9px;
    } 
    .footer_POBox .fanclub{
        font-size: 1.6em;
    }
    .footer_socialmedia{
        order:3;
        width: 30%;
        margin-right: 15px;
    }
    .footer_socialmedia > h2{
        display: none;
    }
    .footer_design{
        order: 2;
        height: 200px;
        width: 75px;
    }
}
/* Large devices (desktops, 992px and up)================================*/
@media (min-width : 992px){
    .slider {
        width: 80%;
    }
    .album_cover{
        height: 300px;
    }
    .footer_POBox >h4{
        font-size: 1.3em;
    }
    .footer_POBox .fanclub{
        font-size: 2em;
        text-align: left;
    }    
    .footer_socialmedia{
        width: 35%;
    }
    .footer_design{
        width: 125px;
    }
}
/* Extra large devices (large desktops, 1200px and up) ==================*/
@media (min-width : 1200px){
}
/* END MEDIA QUERIES ===================================================================*/

/* ANIMATIONS ==========================================================================*/
@keyframes flip{    
    from{
    transform: rotateY(0deg)   
    }
    to{
    transform: rotateY(360deg) 
    } 
}
@keyframes spin{	
    0%{
    transform: rotate(0deg);
    }    
    100%{
    transform: rotate(-360deg);
 	}
}
/* END ANIMATIONS=== ===================================================================*/