/* Commented lines erased */
/* End line spaces erased */

/*====================================== COMMON */

@import url('https://fonts.googleapis.com/css?family=Monoton:100,200,300,400,500,600,700|Anton:100,200,300,400,500,600,700');

html,body{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color:#d00000; /* To define the nearest color to the background image while loading and avoid white page */
}
body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* Flexbox is the selected grid for the site */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin:0;
    padding:0;
    background-image: url("../images/background_1080x1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;    	
}
body h1,h2,h3,h4,h5,h6{
    color: #fafafa;
    margin: 0;
    padding:0;
    text-transform: uppercase;
}
body h1,h2,h3{
    font-family: monoton, sans-serif;
    line-height: 1.7; /* To let the titles font size expand */
}
body h4,h5,h6{
    font-family: Anton, sans-serif
}
.wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex /* To control the grid properly along the pages */
}

/*=============================== SITE CONTENTS */

/* SLIDER "THE ALBUMS" (index.html) */
#album_1{background-image: url("../images/albums/slide_01.jpg")}
#album_2{background-image: url("../images/albums/slide_02.jpg")}
#album_3{background-image: url("../images/albums/slide_03.jpg")}
#album_4{background-image: url("../images/albums/slide_04.jpg")}
#album_5{background-image: url("../images/albums/slide_05.jpg")}
#album_6{background-image: url("../images/albums/slide_06.jpg")}
#album_7{background-image: url("../images/albums/slide_07.jpg")}

/* SLIDER "THE CONCERTS" (pict.html) */
#pict_1{background-image: url("../images/concerts/pict_01.jpg")}
#pict_2{background-image: url("../images/concerts/pict_02.jpg")}
#pict_3{background-image: url("../images/concerts/pict_03.jpg")}
#pict_4{background-image: url("../images/concerts/pict_04.jpg")}
#pict_5{background-image: url("../images/concerts/pict_05.jpg")}
#pict_6{background-image: url("../images/concerts/pict_06.jpg")}
#pict_7{background-image: url("../images/concerts/pict_07.jpg")}
#pict_8{background-image: url("../images/concerts/pict_08.jpg")}
#pict_9{background-image: url("../images/concerts/pict_09.jpg")}

/* SLIDER "UPCOMING EVENTS" (events.html)*/
#event_1{background-image: url("../images/events/event_01.jpg")}
#event_2{background-image: url("../images/events/event_02.jpg")}
#event_3{background-image: url("../images/events/event_03.jpg")}
#event_4{background-image: url("../images/events/event_04.jpg")}
#event_5{background-image: url("../images/events/event_05.jpg")}
#event_6{background-image: url("../images/events/event_06.jpg")}
#event_7{background-image: url("../images/events/event_07.jpg")}
#event_8{background-image: url("../images/events/event_08.jpg")}
#event_9{background-image: url("../images/events/event_09.jpg")}


/* ============================ MOBILE APPROACH */

/* <HEADER> ====================================*/

/* Within the next block of CSS, the properties of this element 
and its child, placed along the five pages of the site are defined.*/

header{
    height: 425px; /* To define height enough to allocate header_logo, header_title and header_nav */
    margin: 0 0 5%;
    padding:0;
}
.header_container{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; /* Best way found to define the position of child elements in mobile approach */
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin:10px 0 0;
    padding:0;
}
.header_title{
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; /* To set the position on the flex column */
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: left;
}
.header_nav{
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2; /* To set the position on the flex column */
    margin: 4px 0;
}
.header_logo{
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; /* To set the position on the flex column */
    width: 100%;
    margin-bottom: 10px;
    padding:0;
    background: url("../images/logo_250x282.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px; /* This leaves 25px free for header_title and nav_btn */
}
.nav_btn{
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border: none;
    margin: 0px;
    padding: 2px;
}
.header_nav .bar{
    content: "";
    width: 30px;
    height: 4px;
    margin: 5px;
    padding: 0px;
    background-color: #fafafa;
    border-radius: 50%;
}
.nav_toggle{
    /* To define the properties of the navigation menu */ 
    position: absolute; 
    width: 80%;
    padding: 10% 0;    
    left: -80%; /* hidden in the left, unseen but ready */    
    z-index: 1; /* One layer over the rest of the elements */    
    -webkit-transition: -webkit-transform 0.7s ease-in-out;    
    transition: -webkit-transform 0.7s ease-in-out;    
    transition: transform 0.7s ease-in-out;    
    transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out; /* Ref to translateX transform when hover */
}
.nav_btn:hover +.nav_toggle{
    -webkit-transform: translateX(100%);
            transform: translateX(100%); /* This moves nav_toggle from -80% to 80%. Hidden in the left then when hover on nav_btn moving to the right */ 
}
.nav_btn:focus{     
    outline: none /* To not display outline when button selected */
}
.nav_btn:hover .bar{    
    background-color: #0f0f0f /* To change color on child when hover over parent */
}
.nav_toggle ul li{
    list-style: none;
    text-decoration: none;
    padding: 0;
}
.toggle_menu{
    width: 100%;
    margin:0;
    padding: 0;
}
.toggle_item{
    width: 100%;
    font-family: monoton, sans-serif;
    font-size: 2.5em;    
    text-align: left; /* To align text to the left of the toggle_menu div */ 
    text-decoration: none;
    color: #fafafa;
    /* padding: 10px 5px; */
}
.toggle_link{
    display: block;
    background-color: #0f0f0f;
    color: #fafafa;
 /* To control the transition timing for the changes in text color and background */
    -webkit-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;  
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.toggle_item:hover >.toggle_link, .toggle_item:focus >.toggle_link{
/* To set a transformation when hovering on toggle_item that changes text color 
and background color to child toggle_link */
    color: #0f0f0f;
    background-color: #fafafa;
    text-decoration: none;
}



/* <SECTION> ===================================*/

/* Within the next block of CSS, the properties of this element 
and its child, placed along the five pages of the site are defined.*/

section{
	margin: 5% 0;
    padding:0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}
.section_container{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin:5%;
}
.column_title{
    font-size: 2.2em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.column_right{
    margin: 0 5% 0;
}
article{
    margin: 0 auto;
    font-family: Anton, sans-serif;
    color: #bab7b7;    
    text-align: justify; 
}
article a{ 
    /* To highlight the anchor inside the grey paragraph font color and 
    space betwwen letters are defined */
    color: #fafafa; 
    letter-spacing: 0.1em;
}
article a:hover, article a:active, article a:focus{
    color: #e8f801;
    text-decoration: none;
}
article a:hover::after, article a:active::after{    
    color: #fafafa; /*To set color back to nitial status after hover and active */
}
span{    
    color: #fafafa /* To highlight who has posted a comment */
}

/* Within the next block of CSS, the properties of the elements inside 
the sliders "THE ALBUMS" (index.html), "THE CONCERTS" (pict.html), and 
UPCOMING EVENTS" (events.html), placed in the left column of the section 
element are defined. 
The issues found when trying to make it work under flexbox 'only' made me 
took the decision to include a bootstrap v3.3.7 based slider and redefine 
its inherited properties (See ref: README.md - Technologies Used) */

.carousel-indicators{
    /* This bootstrap class is redefined here to let the slider work properly. 
    Forced to the bottom of the slide, below the other elements without changing 
    position absolute */  
    top: 95%;
}
.carousel-indicators li{
    /* This bootstrap class is redefined here to let the slider work properly*/ 
    /* top: 95%; */
    border: 1px solid #0f0f0f;
    background-color: #d00000;
}
.carousel-caption { 
    /* This bootstrap class is redefined here to let the slider work properly.
    Absolute position is changed to relative to include it inside the slide. 
    Left and right position set to 0% to center it.*/
    position:relative;
    right: 0%;
    left: 0%;
}
.slide{
    background-color: #fafafa;
    border-radius: 10px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}
.slide:hover{    
    -webkit-transform-origin: center center;    
            transform-origin: center center; /* To match the shrinking point with the center point on the axis(vertical and horizontal) */
    -webkit-transform: scale(.95);
            transform: scale(.95); /*To produce a slight shrinking effect when placing the mouse/clicking on the slide */
}
.slide_cover{
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
    height: 275px;
    margin:10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide_title{
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.6em;
    color: #0f0f0f;
}
.slide_text{ /* To style the caption inside the slider */
    -webkit-box-ordinal-group:4;
        -ms-flex-order:3;
            order:3;
    width: 300px;
    height: 125px;
    margin: 10px;
    font-family: Anton, sans-serif;
    font-size: 1em;
    color: #0f0f0f;
    text-align: center;
}
.slide_text > p {
    margin:0;    
}

/* Within the next block of CSS, the properties of the videoclips inside 
the ordered lists placed inside the left column of the section elements 
are defined. They are also applied on the videoclip placed inside the 
article element inside the right column of the section in pict.html */

.clips_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; /* This moves iframe to the bottom, bellow videoclips list */ 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    margin: 0 auto 20px;
}
.clips_box > a, .feedback_form #submit{	/* Also applies to submit button in contact.html */
    margin: 5px auto 5px auto;
    padding: 0; 
    text-align: center;
    text-decoration: none;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; /* The link to the video grows for 1 second */  
}
.clips_box > a:hover, .feedback_form #submit:hover{ /*To produce a growing effect when placing the mouse/clicking on the clip title */  
    -webkit-transform-origin: center center;  
            transform-origin: center center;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}
.clip_title{
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
    width: 100%;
    margin: 0 7px;
    /* align-items: center; */
}
.clips_box > a > h3, .feedback_form #submit{ /*To emphasize the videoclip name font-size and font-family changes */
    color: #0f0f0f;
    font-family: Anton, sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
}
.clip_embed{ /*To shape the sides of the videoclip container */
    width: 100%;
    border-radius: 8px;
    background-color: #fafafa;
}
.video_frame{ /* To style the iframe window where the videclip is played */
    width:95%;
    margin: 5px 5px 20px;
    border-radius: 8px;
    background-color: #fafafa;
}

/* Within the next block of CSS, the properties of the elements inside 
slider "UPCOMING EVENTS" are defined. These changes were needed as its 
design is different than the other sliders. I tried to style every line 
differently to see the effects and learn from them. The goal was to make 
every event slide look like an event ticket! */

.event_date_box{
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.event_date_box > h4,h5{
    color: #360c0c;
    font-family: Monoton, sans-serif;
    margin:0 5px;
    text-transform: uppercase;
    font-size: 2.5em;
}
.event_date_weekday{ /*To emphasize the day the weekday the event takes place font-size and font-family changes */
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
    font-size: 2.2em;
    color: #0f0f0f;
    font-family: Anton, sans-serif;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.event_footer_box{
    -webkit-box-ordinal-group:4;
        -ms-flex-order:3;
            order:3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.event_text > h2, .event_text > h3{
    color: #0f0f0f;
    font-family: Anton, sans-serif;
}
.event_barcode{ /* Defines the barcode image inside the slider */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    text-align: center;
}
.event_barcode > h2{
    font-family: Monoton, sans-serif;
    -ms-flex-item-align: center;
        align-self: center;
    font-weight: bolder;
    padding-top: 5%;
}
.available{background: url("../images/events/ticket_barcode.jpg")}
.sold_out{background: url("../images/events/ticket_barcode_sold_out.jpg")}
.event_sold_out{
    color: #0f0f0f; /* Changes the color of the text overlay the barcode picture */
}
.event_available{
    color: #d00000; /* Changes the color of the text overlay the barcode picture */
}

/* Within the next block of CSS, the properties of the elements inside 
the form placed in the left column of the section element in contact.html 
are defined. */

.feedback_form{
	-webkit-box-ordinal-group:3;
	    -ms-flex-order:2;
	        order:2;                                       
    display:-webkit-box;                                       
    display:-ms-flexbox;                                       
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width:340px;
    margin-bottom: 10px;
    font-family: Anton, sans-serif;
    color: #fafafa;
    text-transform: uppercase;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.feedback_form label{
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 4px; /* To expand letters to display better */  
}

.feedback_form input, .feedback_form > textarea { /* Textarea maxlength and rows attributes defined in html code */
    width: 90%;
    text-align: center;
    text-overflow: ellipsis;
    color: #0f0f0f;
	font-style: italic;
	font-size: 0.9em;
	font-family: Anton, sans-serif;
    margin: 5px 0 10px;
    border-radius: 5%
}
#comments{
    overflow: hidden;
    resize: none; /* Textareas growing and stretching vertical and horizontally not controlled by user*/
 
}
#name, #email{
    height: 25px;
}
#submit{
    width: 25%;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 8px;
}

/* <FOOTER> ====================================*/

footer{
    /* order:3; */
    margin:0;
    padding:0;
    width:100%
}
.footer_container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #360c0c;
    text-align: center    
}
.footer_POBox{ /* To define the flow of the fan club address box */
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 10px
}
.footer_POBox >h4{ /* To define the size of the fan club address fonts and its margins */
	font-size: 1em;
	margin: 5px 0 0 25px;
	letter-spacing: .5em; 
	text-align: left	
}
.footer_POBox .fanclub{ /* To redefine the size of two of the h4 of the address fonts */
	font-size: 1.2em;
	margin-bottom: 5px
}
.footer_socialmedia{ /* To define the flow of the socialmedia box and its links */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;    
    background-color: #360c0c;
    color: #fafafa;
    text-transform: uppercase
}
.column_title.socialmedia{ /* To define the side and centering of text allocated in footer_socialmedia */
    font-size: 1.5em;
    text-align: center;
}
.sm_icon { /* To define the size of the socialmedia boxes and the way they cointains icons */
    width: 48px;
    height: 48px;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.fcbk_icon{background-image: url("../images/icons/facebook-4-48.png")}
.twt_icon{background-image: url("../images/icons/twitter-4-48.png")}
.ytb_icon{background-image: url("../images/icons/youtube-4-48.png")}

.footer_design{    
    display: none; /*To avoid the display of the "cube" image linked to my profile on C9. */
}

/* <BACK TO TOP> BUTTON */

/*  The shapeof this div is defined within the next CSS properties. 
It's placed at the bottom right corner of the site and only appears 
on mobiles*/

#top_back{
    position: fixed;
 	bottom: 0%;
    left: 84%;
    width: 40px;
    height: 40px;
    border: solid 2px #fafafa;
    background-image: url("../images/icons/buttonup.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

/* ============================== MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up)========================*/
@media (min-width : 576px){
    header{
        height: unset; /* To reset and not interfiere with flex grid when expanding screen */
    }
    #top_back{
        display:none; /* To not display back to top button */ 
    }
    .header_container{
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left; /* To define position of elements 'pushing' to the left */
    }
    .header_logo{ 
        -webkit-box-ordinal-group: 2; 
            -ms-flex-order: 1; 
                order: 1; /* To redefine the position on the flex column */ 
        margin-left: 10px;
        width: 25%;
        background-position: unset;
        background-repeat: no-repeat;
        background-size: contain;
        height: 140px;
    }
    .header_title{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; /* To redefine the position on the flex column */
        -webkit-box-flex: 2;
            -ms-flex-positive: 2;
                flex-grow: 2; /* To allow title to fill the near space available */  
        text-align: justify;
        font-size: 3em;
        -ms-flex-item-align: center;
            align-self: center;
        text-overflow: ellipsis;
        letter-spacing: 4px;
    }
    .header_nav{
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3; /* To redefine the position on the flex column */
        width:100%; /* To not interfiere with flex grid when expanding screen */        
    }
    .nav_btn{
        display:none; /* To not display the burguer button */
    }
    .nav_toggle{ /* To define the changes needed to display the menu inline: positioned inside the screen*/
        position: relative;
        padding: 0;
        width: 100%;
        left: 0%; /* Now it is always set inside the visible screen */
        -webkit-transform: translateX(0%);
                transform: translateX(0%); /* With this set to 0% the movement doesn't aply */
    }
    .toggle_menu{ /* To distribute the space available between the items of menu inline */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .toggle_item{ 
        text-align: center; /* To center the text from left side to center of div */
        font-size: 1.2em; /* To increase the font size with bigger screens */
    }
    .toggle_link{
        -webkit-box-flex: 2;
            -ms-flex-positive: 2;
                flex-grow: 2; /* To allow this element to fill the near space available */
        padding: 0;
    }
    .section_container{
        margin: 10px 0 0px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start
    }
    .column_left, .column_right{ /* To change the way they are displayed and to give the same space to both */
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        width: 50%;
        margin: 0 0 10px
    }
    .column_right > article{    
        margin: 0 5% 0;
        text-align: left
    }    
    .slider {
        width: 95%;
        margin-left: auto;
        margin-right: auto
    }
    .slide{
        min-width: 80%; /* To define the minimun space that the slide should ocuppy */ 
    }
    .slide_cover{
        height: 150px;
        width: unset
    }
    .slide_text{
        width: unset /* To avoid limits when expanding on bigger screens */
    }            
    .clips_box > div{
        border-radius: 10px;
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s;
        margin: 10px
    }
    .clips_box { /* To keep the proportions of the list and iframe when growing with bigger screens */
        width: 70%;
    }
    .clips_box > div:hover{    
        -webkit-transform-origin: center center;    
                transform-origin: center center;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    .clips_box > ul{
        padding: 0;
        text-decoration: none;
        background-color: #fafafa;
    }
    .clip_list_item{
        text-decoration: none;
        font-family: Anton, sans-serif;
        color: #fafafa;
        text-decoration: none;
        text-transform: uppercase;
        color: #fafafa;
    }
    .clips_link{
        font-size: 1.2em;        
    }
    .feedback_form{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 90%;
    }
    .feedback_form_name, .feedback_form_email {
        width: 100%;
    }
    .feedback_form_submit{
        width: 150px;
    }    
    .footer_container{ /* To redefine the way the elements behave in the footer color and give some transparency to the footer */
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #8e1623;
        opacity: 0.9;
    }
    .footer_socialmedia{
        -webkit-box-ordinal-group:2;
            -ms-flex-order:1;
                order:1; /* To redefine the position on the flex column */
        margin: 10px 0;
        width: 95%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 125px;
        border-radius: 25px;
    }
    .footer_POBox{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; /* To redefine the position on the flex column */
    }
    .footer_POBox >h4{ /* To redefine the size of the fan club address fonts and its margins */
        font-size: 1.1em;
    }
    .footer_POBox .fanclub{ /* To redefine the size of two of the h4 of the address fonts */
        font-size: 1.8em;
    }
    .footer_design{ /* To define this element after not being displayed on mobile approach */
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3; /* To redefine the position on the flex column */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100px;
        width: 100px;
        margin: 10px 0 ;
        background-image: url("../images/icons/rubik-icon-23_trnsp_100x100.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.9; 
    }
    .footer_design:hover{
        -webkit-animation-name: spin;
                animation-name: spin; /* @keyframe 'spin' defined at the bottom of this code */
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-duration: 2.5s;
                animation-duration: 2.5s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
    }
}
/* Medium devices (tablets, 768px and up)================================*/
@media (min-width : 768px){
     section{
        margin: 2% auto 0;
    }
    .header_title{ /* To define the growing of title with bigger screens */
        font-size: 4em;
        letter-spacing: 5px;
    }
    .toggle_item{ 
        font-size: 1.6em; /* To increase the font size with bigger screens */
    }
    .footer_container{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; /* To change the display direction */
        height: 200px; /* To set a minimum height to its body. It looks too 'piled' when height unset*/
    }
    .footer_POBox{
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; /* To change the display position in the row */
    }
    .footer_POBox >h4{ /* To redefine the size of the fan club address fonts and its margins */
        font-size: 1.1em;
        margin: 0 0 10px 25px;
        letter-spacing: .7em;
    } 
    .footer_POBox .fanclub{ /* To redefine the size of two of the h4 of the address fonts */
        font-size: 1.6em;
    }
    .footer_design{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; /* To change the display position in the row */
        width: 75px;
    }
    .column_title.socialmedia{
        display: none; /* To hide the text " Connect with us " */
    }
    .footer_socialmedia{
        -webkit-box-ordinal-group:4;
            -ms-flex-order:3;
                order:3; /* To change the display position in the row */
        width: 30%;
        margin-right: 15px;
    }

}
/* Large devices (desktops, 992px and up)================================*/
@media (min-width : 992px){
    .header_title{ /* To define the growing of title with bigger screens */
        font-size: 5em;
        letter-spacing: 6px;
    }  
    .toggle_item{ 
        font-size: 2em; /* To increase the font size with bigger screens */
    }
    .slider {
        width: 80%;
    }
    .footer_POBox >h4{
        font-size: 1.3em;
    }
    .footer_POBox .fanclub{ /* To redefine the size of two of the h4 of the address fonts */
        font-size: 2em;
    }    
    .footer_socialmedia{
        width: 35%;
    }
    .footer_design{
        width: 125px;
    }
}
/* Extra large devices (large desktops, 1200px and up) ==================*/
@media (min-width : 1200px){
    .header_title{ /* To define the growing of title with bigger screens */
        font-size: 6em;
        letter-spacing: 7px;
    }  
}
/* END MEDIA QUERIES ===================================================================*/

/* ANIMATIONS ==========================================================================*/
@-webkit-keyframes spin{
/* This animation is for the cube image placed in the footer. Rotate 360deg when hover */
    0%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }    
    100%{
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
 	}
}
@keyframes spin{
/* This animation is for the cube image placed in the footer. Rotate 360deg when hover */
    0%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }    
    100%{
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
 	}
}
/* END ANIMATIONS ======================================================================*/