
/*-----------------------------------------------Font Selection*/

@import url('https://fonts.googleapis.com/css?family=Monoton:100,200,300,400,500,600,700|Anton:100,200,300,400,500,600,700');

/*-------------------------------------------------------------*/
/*-----------------------------------------Start of Mobile_body*/
/*-------------------------------------------------------------*/

/*-----------------------------------------------------Main CSS*/
/*-------------------------------------------------------------*/

html,body{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0;
    padding:0;
    background-image: url("../pict/bckgr_main.jpg");
    background-size: cover;
    background-repeat: no-repeat;    	
}

body h1,h2,h3 {
    font-family: monoton, sans-serif;
    color: #fff;
    text-transform: uppercase;
}

body h4,h5,h6 {
    font-family: Anton, sans-serif;
    color: #fff;
    margin: 0;
    padding:0;
    /*text-transform: uppercase;*/
}

header{
    order:1;
    margin: 0 6%;
    padding:0;
    min-height: 425px;
}

section{
    order:2;
	margin: 0 6%;
    padding:0;
}

footer{
    order:3;
    margin: 6% 0 0 0 ;
    padding:0;
}

#top_back{
    position: fixed;
 	bottom: 10px;
    left: 84%;
    width: 10%;
    height: 6%;
    background-image: url("../pict/icons/buttonup.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

#top_back:hover {
        border: solid 2px red;
	}

.wrapper{
    display: flex;
}
	
/*-----------------------------------------Border color classes*/
/*-------------------------------------------------------------*/

.bordery{
	border: solid 2px yellow;
}

.borderbl{
	border: solid 2px blue;
}

.bordergr{
	border: solid 2px green;
}

.borderrd{
	border: solid 2px red;
}

/*-------------------------------------------Mobile Back-To-Top*/
/*-------------------------------------------------------------*/


/*----------------------------------------------Mobile <header>*/
/*-------------------------------------------------------------*/

.header_container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /*margin:10px 0 5px;*/
    margin:10px 0 0;
    padding:0;
    width: 340px;
    
    /*border: 1px solid yellow;*/
}

.header_title{
    order: 1;
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: left;
    background-color: transparent;
}

.header_nav{
    order:2;
    margin: 4px 0;
}

.header_logo{
    order: 3;
    width: 100%;
    margin-bottom: 10px;
    padding:0;
    background: url("../pict/The Guess Who 1972-74_edit.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 400px;
}

/*----------------------------------------------Nav Burguer Btn*/

.nav_btn{
    order: 2;
    border: none;
    margin: 0px;
    padding: 2px;
}

.nav_btn_content{
    display: none;
}
    
.header_nav .bar{
    content: "";
    width: 30px;
    height: 4px;
    margin: 5px;
    padding: 0px;
    background-color: #fafafa;
    border-radius: 50%;
} 	   /*Warning: class .bar is so common...*/

/*---------------------------------------------------Nav Toggle*/

.nav_toggle{
    position: absolute;
    width: 100%;
    padding: 6% 0;
    left: -100%;
    z-index: 1;
    transition: transform 0.7s ease-in-out;
}

.nav_toggle ul li{
    list-style: none;
    padding: 0;
    /*background-color: #fff;*/
}   
    
.toggle_menu{
    /*display:inherit;*/
    width: 100%;
    margin:0;
    padding: 0;
}

.toggle_item{
    width: 100%;
    font-family: monoton, sans-serif;
    font-size: 2.24em;
    color: #fafafa;
    text-align: right;
}

.toggle_link{
    display: block;
    text-decoration: none;
    background-color: #0f0f0f;
    opacity: 0.8;
    color: #fff;
    padding: 10px 5px;
    transition: color 0.5s ease-in-out, background-color 1s ease-in-out;
}

.nav_btn:focus{
    outline: none;
}

.nav_btn:hover .bar{
    background-color: #ed7621;
    background-color: #0f0f0f;
}

.nav_btn:hover +.nav_toggle{
    transform: translateX(70%);
    /*transform: translateX(50%);*/
}

.toggle_link:hover{
    color: #0f0f0f;
    background-color: #fff;
}

/*---------------------------------------------Mobile <section>*/
/*-------------------------------------------------------------*/

.section_container{
	flex-direction: column;
    margin: 0px 0 5px;
}

.column_40{
    order:1;
    
    /*border: 1px solid yellow;*/
}

.column_60{
    order:2;
    text-align: center;
    
    /*border: 1px solid yellow;*/
}

.column_title{
    order:1;
    font-size: 2.2em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    
    /*border: 1px solid yellow;*/
}

/*----------------------------------------------Mobile <footer>*/
/*-------------------------------------------------------------*/

/*.wrapper.footer_container{*/
/*	margin:0}*/

.footer_container{
    flex-direction: column;
    background-color: #360c0c;
    margin: 0 0 10px 0;
    width: 100%;
    text-align: center;
}

.footer_POBox{
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.footer_POBox >h4{
	font-size: 1em;
	width: 100%;
	color: #fafafa;
	margin: 5px 0 0 25px;
	letter-spacing: .5em; 
	text-align: left;
	
}

.footer_socialmedia{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;    
    background-color: #360c0c;
    color: #fafafa;
    text-transform: uppercase;
}

.column_title.socialmedia{
    font-size: 1.5em;
    text-align: center;
}

.column_title.socialmedia::hover{
	background-color: white;
    color: black;
}

.sm_icon {
    width: 48px;
    height: 48px;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.fcbk_icon{
	order:2;
    background: url("../pict/icons/facebook-4-48.png");
}

.twt_icon{
	order:3;
    background: url("../pict/icons/twitter-4-48.png");
}

.ytb_icon{
    order:4;
    background: url("../pict/icons/youtube-4-48.png");
}

/*------------------------------------------------display: none*/

.footer_design{    
    display: none;
}

/*-------------------------------------------------------------*/







/*-------------------------------------------------------------*/
/*----------------------------------------------End Mobile_body*/
/*-------------------------------------------------------------*/


/*-------------------------------------------------------------*/
/*------------------------------------------Start Site contents*/
/*-------------------------------------------------------------*/

/*----------------------------------------HOME section contents*/
/*-------------------------------------------------------------*/

/*"-----------------------------Column_40 / Slider "The Albums"*/

.slider {
    order: 2;
    width: 340px;
    /*margin: 1%;*/
    text-align: center;
    margin-top: 0;
    
    /*border: 1px solid yellow;*/
    
   /*border: solid 2px yellow;*/
    /*Comment when responsive design reviewed*/
    
    /*-webkit-overflow-scrolling: touch; Mobile smooth swipe*/
    
    /*height: 475px;*/
    /*flex-shrink: 0;*/
    /*overflow: hidden; */
}

.slider_controls{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    
    /*border: 1px solid yellow;*/
    /*Comment when responsive design reviewed*/
}

.slide_link{
    content: "";
    width: 25px;
    height: 25px;
    margin: 5px;
    background-color: #626262;
    border-radius: 50%;
    cursor:pointer;
    font-family: Anton, sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
    
    transition: transform 0.2s ease-in-out;

	border: solid 5px red;
		
	/*background: transparent;*/
	/*opacity:0.5; */
}

.slide_link:hover {
  	transform: scale(1.3,1.3);
  	background-color: #fff;
  	color: #0f0f0f;
  	
    /*transform: translateX(70%);*/
    /*transform: translateX(50%);*/
        
    /*transform: background-color: #ed7621;*/

/*    background-color: #ed7621;*/
/*    background-color: #0f0f0f;*/
}

.slider_box{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    /*margin-right: 7px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    align-items: left;
    
    /*border: 1px solid yellow;*/
        
    /*border: solid 2px yellow; */
    /*Comment when responsive design reviewed*/
    
    /*text-align: left;*/
    /*position: relative;*/
    /*width: 315px;*/
   
}

.slider_box > div{
	flex: 1;
	border-radius: 10px;
	transition: transform 1s;
    
    -webkit-transition: transform 1s;
	-moz-transition: transform 1s;
	-o-transition: transform 1s;
}
	    
.slider_box > div:hover{    
    transform-origin: center center;
    transform: scale(0.9);
}

.slide{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin:5px;
    
    /*border: solid 2px yellow; */
    /*Comment when responsive design reviewed*/
	
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
    /*background-color: transparent;*/
    /*scroll-behavior: smooth;*/
}

#slide_1{
    background-image: url("../pict/album_nav/slide_01.jpg")
}
#slide_2{
    background-image: url("../pict/album_nav/slide_02.jpg")
}
#slide_3{
    background-image: url("../pict/album_nav/slide_03.jpg")
}
#slide_4{
    background-image: url("../pict/album_nav/slide_04.jpg")
}
#slide_5{
    background-image: url("../pict/album_nav/slide_05.jpg")
}
#slide_6{
    background-image: url("../pict/album_nav/slide_06.jpg")
}
#slide_7{
    background-image: url("../pict/album_nav/slide_07.jpg")
}
#slide_8{
    background-image: url("../pict/album_nav/slide_08.jpg")
}

.album_cover{
    order:1;
    height: 275px;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*border: solid 2px yellow; */
    /*Comment when responsive design reviewed*/
 
    /*width: 300px;*/
    /*margin: 5px 7px;*/    
}

.album_title{
    order:2;
    width: 300px;
    height: 25px;
    margin: 0 7px;
    align-items: center;
    font-size: 25px;
    color: #0f0f0f;

    /*border: solid 2px yellow; */
    /*Comment when responsive design reviewed*/
 
}

.album_text{
    order:3;
    margin: 20px;
    height: 75px;
    margin-top: 10px;
    font-family: Anton, sans-serif;
    color: #0f0f0f;
    text-align: center;

    /*border: solid 2px yellow; */
    /*Comment when responsive design reviewed*/
 
     /*overflow-y: scroll;*/
}

/*-------------------------------------------------------------*/

/*"----------------------Column_60 / .band_history "The History*/
					
.column_60 >span{
	margin-top:0;
}

.band_history{
	font-family: Anton, sans-serif;
    color: #bab7b7;    
    font-size: 1.1em;
    text-align: center;
    margin-top: 0;
}
    				
/*------------------------------------End HOME section contents*/
/*-------------------------------------------------------------*/

/*-------------------------------------------------------------*/
/*--------------------------------------------End Site contents*/
/*-------------------------------------------------------------*/



			

/*-------------------------------------------------------------*/
/*---------------------------------------Start of Media queries*/
/*-------------------------------------------------------------*/



/*-----------------------------------------Tablet Media queries*/
/*-------------------------------------------------------------*/

@media all and (min-device-width : 416px){
    
body{
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center; 	
}

footer{    
    /*margin: 2% 0 2% 0;*/
    width:100%;
}

#top_back{
	display:none;
}

/*----------------------------------------------Tablet <header>*/

.header_container{
    flex-wrap: nowrap;
    /*margin:1% 0 8%;*/
    /*width: auto;*/
    width: 100%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    
    /*justify-content: space-between;*/
    /*align-items: center; */
    align-items: center;
    border: solid 1px green;
}

.header_logo{
	/*display: none;*/
    order: 1;
    /*min-width: 150px;*/
    /*min-height: 300px;*/
    border: solid 1px yellow;
}

.header_title{
    order: 2;
    /*width: 70%;*/
    /*margin-left: 10%;*/
	/*text-align: left;*/
	font-size: 4.5em;
	letter-spacing: 3px;
	border: solid 1px yellow;
}

/*.header_title{*/
/*    order: 1;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-size: 2em;*/
/*    text-align: left;*/
/*    background-color: transparent;*/
/*}*/

/*---------------------------------------------------Nav Toggle*/

.nav_toggle{
    /*position: absolute;*/
    /*width: 100%;*/
    /*padding: 6% 0;*/
    padding: 4% 0;
    /*left: -100%;*/
    /*z-index: 1;*/
    /*transition: transform 0.7s ease-in-out;*/
    
    margin-top: 150px;
    transform: translateX(100%);
        
    /*border: 1px solid black;*/
    /*Comment when responsive design reviewed*/
}

.nav_btn{
    display:none;
}

.toggle_menu{
    /*visibility: visible;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0;
    padding:0;
}

.toggle_item{
    /*visibility: visible;*/
    font-size: 1.5em;
    text-align: center;
}

.toggle_link{
    display: block;
    text-decoration: none;
    background-color: #0f0f0f;
    opacity: 0.8;
    color: #fff;
    /*padding: 10px 5px;*/
    transition: color 0.5s ease-in-out, background-color 1s ease-in-out;
}


/*---------------------------------------------Tablet <section>*/

.section_container{
	/*flex-direction: column;*/
    margin: 15px 0 5px;
}

/*.column_40{*/
/*	width: 43%;*/
/*	margin-left: auto;*/
/*	margin-right: auto;*/
/*}*/
	
.column_60{
	width: 43%;
	margin-left: auto;
	margin-right: auto;
}

.column_title{
	/*font-size: 2em;*/
	font-size: 2.5em;
	letter-spacing: 3px;
}

.slider {
    margin-right: auto;
    margin-left: auto;
    width: 43%;
}

/*----------------------------------------------Tablet <footer>*/

.footer_container{
	flex-direction: row;
	justify-content: space-between;
	background-color: #8e16239e;
	opacity: 0.9;
}

.footer_POBox{
	/*justify-content: center;*/
	/*align-items: center;*/
	/*margin: 10px;*/
	order:1;
    margin:10px 0 ;
    width:20%;
}

.footer_POBox >h4{
	font-size: .9em;
	/*font-size: 15px;*/
	/*text-align: left;*/
	margin: 0 0 0px 25px;
	text-align: left;
	margin-bottom: 9px;
}

.footer_POBox .fanclub{
	font-size: 1.2em;
	/*font-style: italic;*/
	margin-bottom: 5px;
	
}
  
.footer_socialmedia{
    order:2;
    margin: 10px 0;
    width:50%;
    align-items: center;
    height: 125px;
	border-radius: 25px;
}

.footer_design{
	display: flex;
	order:3;
	width: 15%;
	margin: 10px 0 ;
	background-image: url("../pict/icons/rubik-icon-23_trnsp_100x100.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.9;
}


.text_link>a{
    text-decoration: none;
}

.text_link>a:link{
    color: #ed7621;
}

.text_link>a:hover{
    color: #ed7621;
}

.column_title{
    /*order: 0;*/
    /*margin-top: 10px;*/
    /*margin:0;*/

    font-size: 2.8em;
    /*text-transform: lowercase;*/
}

/*.column_title.socialmedia{*/
/*	order:1;*/
/*	font-family: Anton, sans-serif;*/

/*	font-size: 2.5em;*/
/*	letter-spacing: 3px;*/

/*.footer_design{    */
/*    display: none;*/
    
    /*border: solid 2px yellow; */
    /*Comment when responsive design reviewed*/
     
    /*order:5;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content:space-around;*/
    /*width: 100%;*/
    /*max-height: 50px;*/
    /*margin-top: 10px;*/
    /*font-family: Anton, sans-serif;*/
    /*color: #0f0f0f;*/
    /*background-color: #fafafa;*/

/*}*/

/*.footer_logo{*/
	
	/*border: solid 2px yellow; */
	/*Comment when responsive design reviewed*/
	    
    /*order: 1;*/
    /*width:40px;*/
    /*height: 40px;*/
    /*margin: 5px;*/
    /*background: url("../pict/icons/rubik-icon-23.png");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*animation-name: spin;*/
    /*animation-iteration-count: infinite;*/
    /*animation-duration: 2.5s;*/
    /*animation-timing-function: linear;*/
/*}*/



/*-------------------------------------End Tablet Media queries*/
/*-------------------------------------------------------------*/

}

/*-----------------------------------------Laptop Media queries*/
/*-------------------------------------------------------------*/

@media all and (min-device-width : 769px){
    

/*----------------------------------------------Laptop <header>*/

.header_title{
    /*order: 1;*/
    /*order: 2;*/
    /*margin: 0;*/
    /*margin: 5%;*/
    /*padding: 0;*/
    /*padding: 5%;*/
    /*font-size: 2em;*/
    font-size: 6em;
	/*text-align: left;*/
	/*text-align: center;*/
    /*background-color: transparent;*/
    
    /*border: solid 2px blue;*
    /*Comment when responsive design reviewed*/
    
    /*flex-grow: 2;*/
    /*width: 60%;*/
}

/*#header_title{*/
/*    width: 70%;*/
/*    font-size: 60px;*/
/*}*/

/*.nav_responsive{*/
/*    width: 70%;*/
/*}*/

/*.nav_inline{*/
/*    display: inherit;*/
/*    width: 100%;*/
/*    font-family: Ranchers, sans-serif;*/
/*    font-size: 40px;*/
/*    color: white;*/
/*}*/
    
/*.nav_dropdown{*/
/*    display: none;*/
/*}*/


/*---------------------------------------------Laptop <section>*/
/*-------------------------------------------------------------*/


/*----------------------------------------------Laptop <footer>*/
/*-------------------------------------------------------------*/


/*-------------------------------------End Laptop Media queries*/
/*-------------------------------------------------------------*/

}

/*-------------------------------------------------------------*/
/*--------------------------------------------End Media queries*/
/*-------------------------------------------------------------*/



/*-------------------------------------------------------------*/
/*------------------------------------------Start of Animations*/
/*-------------------------------------------------------------*/

@keyframes flip{
    
from{
 transform: rotateY(0deg)   
}

to{
 transform: rotateY(360deg) 
 }
 
}


@keyframes spin{
	
    0%{
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    }
    
    100%{
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
	}
}

/*-------------------------------------------------------------*/
/*s---------------------------------------------End Animations*/
/*-------------------------------------------------------------*/


/*-------------------------------------(Mobile) Form "Contact"*/
/*------------------------------------------------------------*/

.footer_form{
	order:2;                                       
    display:flex;
    flex-direction: column;
    width:340px;
    margin-bottom: 10px;
    font-family: Anton, sans-serif;
    color: #fafafa;
    text-transform: uppercase;
    align-items: center;
}

.footer_form >label{
    font-size: 1.3em;    
}

.footer_form >input{
	font-style: italic;
	font-size: 0.9em;
	font-family: Anton, sans-serif;
    margin: 5px 0 10px;
    border-radius: 5%;
}

.column_title .contact{
    font-size: .7em;
}

.footer_form_comments{    
    height: 100px;
    width: 330px;
}

.footer_form_email{
	height: 25px;
    width: 330px;
}

.footer_form_submit{
   height: 35px;
   width: 100px;
   text-transform: uppercase;
   background-color: #9e9e9f;
}

/*----------------------------(Tablet MQueries) Form "CONTACT"*/

.footer_form{
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.footer_form >input{
    text-align:center;
	height: 25px;  
}

.footer_form_comments{ 
    width: 100%;
}

.footer_form_email{
    width: 100%;
}

.footer_form_submit{
   width: 150px;
}

/*-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------*/



























			/*----------------------------bin------------------------------*/
			/*-------------------------------------------------------------*/
			
			/*--------------------*//*ooooooooooo*//*----------------------*/
			/*--------------------*//*   B I N   *//*----------------------*/
			/*--------------------*//*ooooooooooo*//*----------------------*/

			/*font-size: small;}*/
			/*color: #fafafa;*/
			/*color: #9e9e9f;*/
			/*margin: 5px 40px;*/
			/*letter-spacing: .5em; */
	
			/*.footer_container .column_40:hover +.column_60.socialmedia{*/
			/*	background-color: #ed7621;*/
			
			/*	background-color: white;*/
			/*    color: grey;*/
			/*}*/
			/*.footer_container .column_60:hover +.column_40 .contact{*/
			/*		background-color: #ed7621;*/
			
			/*	background-color: white;*/
			/*    color: grey;*/
			/*}*/


			/*.slide::-webkit-scrollbar-thumb {*/
			/*    background: red;*/
			/*    border-color: black;*/
			/*    height: 10px;*/
			/*    border-radius: 10px;*/
			/*}*/
			
			/*#slide_1:target ~ .slide{left: 0px;}*/
			/*#slide_2:target ~ .slide{left: 150px;}*/
			/*#slide_3:target ~ .slide{left: 300px;}*/
			/*#slide_4:target ~ .slide{left: 450px;}*/
			/*#slide_5:target ~ .slide{left: 600px;}*/
			/*#slide_6:target ~ .slide{left: 750px;}*/
			/*#slide_7:target ~ .slide{left: 900px;}*/   
		
			/*flex-shrink: 0;*/
		    /*height: 400px;*/
		    
		    /*.column_40{*/
		    /*order:1;*/
		    /*width: 40%;*/
		    /*background-color: transparent;*/
		    /*background-color: #fff;*/
		    /*opacity: 0.5;*/
		    /*border: solid 2px green;*/
			/*}*/
		
			/*.column_60{*/
		    /*order:2;*/
		    /*width: 60%;*/
		    /*color: #fff;*/
		    /*font-family: Anton, sans-serif;*/
		    /*background-color: red;*/
		    /*background-color: #0f0f0f;*/
		    /*opacity: 0.5;*/
		    /*border: solid 2px green;*/
			/*}*/
		
			/*.wrapper{*/
		
		    /*display: flex;*/
		    /*width: auto;*/
		    /*min-width: 600px;*/
			/*} */
		
			/*.header_nav .nav_btn:hover +.nav_toggle{*/
			    /*transform: translateX(-140%);*/
			/*}*/
		   
			/*header {*/
			    /*min-height: 200px;*/
			    /*max-height: 200px;*/
			/*}*/
		
			/*header{*/
			/*    order:1;*/
			/*    margin:1px;*/
			/*    padding:0;*/
			/*    min-height: 425px;*/
			/*}*/
			
			/*.column {*/
			/*	display:flex;*/
			/*    flex-direction: column;*/
			/*    justify-content: center;*/
			/*    background-color: transparent;*/
			/*    text-align: center;*/
			/*    border-color: #34343d;*/
			/*}*/
			
			/*.header_nav .nav_btn:focus{*/
			/*    outline: none;*/
			/*}*/
			
			/*.header_nav .slide_link:hover .bar{*/
			/*    background-color: #ed7621;*/
			/*    background-color: #0f0f0f;*/
			/*}*/
			
			/*.header_nav .toggle_link:hover{*/
			/*    color: #0f0f0f;*/
			/*    background-color: #fff;*/
			/*}*/
			
			/*.slider::-webkit-scrollbar {*/
			/*    width: 10px;*/
			/*    height: 10px;*/
			/*}*/
			
			/*.slides::-webkit-scrollbar-track {*/
			/*    background: transparent;*/
			/*}*/
			
			/*.slider_box > div:target {*/
			/*  transform: scale(0.8);*/
			/*}*/
			
			/*.open_slider{*/
			/*}*/
			
			/*    word-wrap: break-word;*/
			/*    word-break: break-all;*/
			/*    height: 80px;*/
			/*}*/