
/*-----------------------------------Font Selection*/

@import url('https://fonts.googleapis.com/css?family=Monoton:100,200,300,400,500,600,700|Anton:100,200,300,400,500,600,700');

/*----------------------------------Main Properties*/
body{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    /*background-color: #0f0f0f;*/
    /* background-color: red; Only for design purposes*/
    background-image: url("../pict/bckgr_main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body h1,h2,h3 {
    font-family: monoton, sans-serif;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
}

header{
    order:1;
    margin:1px;
    padding:0;
    min-height: 425px;
}

section{
    order:2;
    margin:1px;
    padding:0;

}

footer{
    order:3;
    margin:1px;
    padding:0;
    min-height: 150px;

}

/*-------------------------------------------Header*/

.header_css{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*width: 100%;*/
    margin:0;
    padding:0;
    /*text-align: center;*/

}

.header_title{
    order: 1;
    margin: 0;
    padding: 0 10px;
    font-size: 1.7em;
    text-align: center;
    border: none;
    background-color: transparent;
}

.header_nav{
    order:2;
    margin: 4px 0;
}

.header_logo{
    order: 3;
    width: 100%;
    padding:0;
    background: url("../pict/The Guess Who 1972-74_edit.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 350px;
}

/*------------------------------------------Nav Burguer Btn*/

.header_nav .nav_btn{
    order: 2;
    border: none;
    margin: 0px;
    padding: 0px;
}

.header_nav .nav_btn_content{
    display: none;
}
    
.header_nav .bar{
    content: "";
    width: 35px;
    height: 5px;
    margin: 5px;
    background-color: #fafafa;
    border-radius: 15%;
}

/*-------------------------------------Nav Toggle*/

.nav_toggle{
    position: absolute;
    width: 100%;
    padding: 5% 0;
    left: -100%;
    z-index: 1;
    transition: transform 0.7s ease-in-out;
}

.nav_toggle ul li{
    list-style: none;
    padding: 0;
    /*background-color: #fff;*/
}   
    
.toggle_menu{
    /*display:inherit;*/
    width: 100%;
    margin:0;
    padding: 0;
}

.toggle_item{
    width: 100%;
    font-family: monoton, sans-serif;
    font-size: 30px;
    color: #fafafa;
    text-align: right;
}

.toggle_link{
    display: block;
    text-decoration: none;
    background-color: #0f0f0f;
    opacity: 0.8;
    color: #fff;
    padding: 10px 5px;
    transition: color 0.5s ease-in-out, background-color 1s ease-in-out;
}

.header_nav .nav_btn:focus{
    outline: none;
}

.header_nav .nav_btn:hover .bar{
    background-color: #ed7621;
    background-color: #0f0f0f;
}

.header_nav .nav_btn:hover +.nav_toggle{
    transform: translateX(50%);
}

.header_nav .toggle_link:hover{
    color: #0f0f0f;
    background-color: #fff;
}

/*------------------------------------------Section*/

.section_title{
    order:1;
    margin: 10px;
    padding: 0;
    font-size: 2em;
    text-align: center;
    border: none;
}

.column_40{
    order:2;
    background-color: transparent;
    /*background-color: #fff;*/
    /*opacity: 0.5;*/
}

#slide_1{
    background-image: url("../pict/album_nav/slide_01.jpg")
}
#slide_2{
    background-image: url("../pict/album_nav/slide_02.jpg")
}
#slide_3{
    background-image: url("../pict/album_nav/slide_03.jpg")
}
#slide_4{
    background-image: url("../pict/album_nav/slide_04.jpg")
}
#slide_5{
    background-image: url("../pict/album_nav/slide_05.jpg")
}
#slide_6{
    background-image: url("../pict/album_nav/slide_06.jpg")
}
#slide_7{
    background-image: url("../pict/album_nav/slide_07.jpg")
}
#slide_8{
    background-image: url("../pict/album_nav/slide_08.jpg")
}

.slider {
    width: 325px;
    height: 400px;
    margin: 10px;
    text-align: center;
    overflow: hidden;
 
}

.slides {
    display: flex;
    overflow-x: auto;
    border-radius: 5px;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides > div{
    position: relative;
    flex-shrink: 0;
    margin: 5px;
    width: 315px;
    height: 375px;
    border-radius: 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
}

.slides > div:target {
  transform: scale(0.8);
}

.slide{
    display: flex;
    flex-direction:column;
    background-color: transparent;
    background-color: white;
    margin:5px;
}

.album_cover{
    order:1;
    width: 300px;
    height: 275px;
    margin: 5px 7px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.album_title{
    order:2;
    width: 300px;
    height: 25px;
    margin: 0 7px;
    align-items: center;
    font-size: 25px;
    color: #0f0f0f;
}

.album_text{
    order:3;
    margin: 5px 10px;
    font-family: Anton, sans-serif;
    color: #0f0f0f;
}

/*.slider > a {*/
/*  display: inline-flex;*/
/*  width: 1.5rem;*/
/*  height: 1.5rem;*/
/*  background: transparent;*/
/*  text-decoration: none;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  border-radius: 50%;*/
/*  margin: 0 0 0.5rem 0;*/
/*  position: relative;*/
/*}*/
/*.slider > a:active {*/
/*  top: 1px;*/
/*}*/
/*.slider > a:focus {*/
  /*background: #000;*/
/*}*/


.column_60{
    order:3;
    color: #fff;
    font-family: Anton, sans-serif;
    background-color: red;
    /*background-color: #0f0f0f;*/
    /*opacity: 0.5;*/
}

/*-------------------------------------------Footer*/

.footer_container{
    margin: 10px 1px 10px;
    padding: 0;
    width: 100%;
    font-family: Anton, sans-serif;
    /*font-size: 1.5em;*/
    color: #fafafa;
    text-align: center;
}

.footer_form_title{
    order:1;
    margin: 10px;
    padding: 0;
    font-size: 2em;
    text-align: center;
    border: none;
}

.footer_form{
    order:2;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 150px;
    background-color: #0f0f0f;
    opacity: 0.5;
    font-family: Anton, sans-serif;
    color: #fafafa;

}

.footer_form input{
    margin: 5px;
}
/*    word-wrap: break-word;*/
/*    word-break: break-all;*/
/*    height: 80px;*/
/*}*/

.fform_input_comments{    
    height: 50px;
    /*text-overflow: clip;*/
}

.fform_input_comments.break{
    word-wrap: break-word;
    word-break: break-all;

}
/*    height: 50px;*/
/*    word-wrap: break-word;*/
/*}*/

.footer_socialmedia_title{
    order:3;
    margin: 10px;
    padding: 0;
    font-size: 2em;
    text-align: center;
    border: none;
}
    
.footer_sm{
    order:4;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    height: 50px;
    margin-top: 5px;
    background-color: #0f0f0f;
    opacity: 0.5;
    color: #fafafa;
    text-transform: uppercase;
 
}

.sm_icon {
    width: 48px;
    height: 48px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.fcbk_icon{
    order:1;
    background: url("../pict/icons/facebook-4-48.png");
}

.twt_icon{
    order:2;
    background: url("../pict/icons/twitter-4-48.png");
}

.ytb_icon{
    order:3;
    background: url("../pict/icons/youtube-4-48.png");
}

.footer_info{
    order:5;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    max-height: 50px;
    margin-top: 10px;
    font-family: Anton, sans-serif;
    color: #0f0f0f;
    background-color: #fafafa;

}

.footer_logo_link{
    order: 1;
    width:40px;
    height: 40px;
    margin: 5px;
    background: url("../pict/icons/rubik-icon-23.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: flip;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
    animation-timing-function: linear;
}

.contact_me{
    order: 2;
    margin: 5px;
}

.footer_thanks{
    order:6;
    margin-top: 10px;
    width: 100%;
}

.text_link>a{
    text-decoration: none;
}

.text_link>a:link{
    color: #ed7621;
}


/*-------------------------------------------------*/
/*Start of Media queries---------------------------*/
/*-------------------------------------------------*/

/*Tablet-------------------------------------------*/
/*-------------------------------------------------*/

@media all and (min-device-width : 416px){
    
/*-------------------------------------------Header*/

header {
    min-height: 300px;
}

.header_css{
    /*display: flex;*/
    flex-wrap: nowrap;
    /*flex-flow: row no-wrap;*/
    /*justify-content: space-around;*/
    justify-content: flex-start;
    /*width: 100%;*/
    /*margin:0;*/
    /*padding:0;*/
    /*text-align: center;*/
    /*background-color: #0f0f0f;*/
    /*border: 2px solid yellow;*/
}    

.header_logo{
    order: 1;
    width: 40%;
    /*max-height: 100px;*/
    
}

.header_title{
    order: 2;
    /*flex-grow: 2;*/
    /*width: 70%;*/
    padding-top: 60px;
    font-family: monoton, sans-serif;
    font-size: 5em;
    text-align: left;
    /*border: 2px solid black;*/
}

.header_nav{
    order:3;
    top:50px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content:flex-start;*/
    /*border: 2px solid black;*/
}

.header_nav .nav_btn{
    display:none;
    /*order: 1;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*width: 100%;*/
    /*text-decoration: none;*/
    /*font-family: monoton, sans-serif;*/
    /*font-size: 1.5em;*/
    /*text-align: left;*/
    /*color: #fff;*/
    /*background-color: #0f0f0f;*/
    /*border: 1px solid #fff;*/
    /*padding: 0;*/
}

.header_nav .nav_btn_content{
    /*display: flex;*/
    /*font-family: monoton, sans-serif;*/
    /*font-size: 2.5em;*/
    /*text-align: left;*/
    /*color: #fff;*/
    /*background-color: #0f0f0f;*/

}

.header_nav .nav_btn .bar{
    display: none;
}

.header_nav .nav_toggle{
    visibility: visible;
    /*order: 4;*/
    right: 40%;
    /*left: 40%;*/
    top: 35%;
    margin-top: 20px;
    padding: 0;
    /*border: 1px solid red;*/
}


.header_nav .nav_toggle{
    transform: translateX(100%);
}

.header_nav .toggle_menu{
    /*visibility: visible;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_nav .toggle_item{
    /*visibility: visible;*/
    font-size: 1.5em;
    text-align: center;
}

.toggle_link{
    display: block;
    text-decoration: none;
    background-color: #0f0f0f;
    opacity: 0.8;
    color: #fff;
    /*padding: 10px 5px;*/
    transition: color 0.5s ease-in-out, background-color 1s ease-in-out;
}

/*.header_nav .nav_btn:hover +.nav_toggle{*/
    /*transform: translateX(-140%);*/
/*}*/
   
}

/*Laptop------------------------------------------*/
/*------------------------------------------------*/

/*@media (min-device-width : 769px){*/
    
/*------------------------------------------Header*/

/*#header_title{*/
/*    width: 70%;*/
/*    font-size: 60px;*/
/*}*/

/*.nav_responsive{*/
/*    width: 70%;*/
/*}*/

/*.nav_inline{*/
/*    display: inherit;*/
/*    width: 100%;*/
/*    font-family: Ranchers, sans-serif;*/
/*    font-size: 40px;*/
/*    color: white;*/
/*}*/
    
/*.nav_dropdown{*/
/*    display: none;*/
/*}*/

/*}*/

/*------------------------------------------------*/
/*End of Media queries----------------------------*/
/*------------------------------------------------*/


/*------------------------------------------------*/
/*Start of Animations-----------------------------*/
/*------------------------------------------------*/

@keyframes flip{
    
from{
 transform: rotateY(0deg)   
}

to{
 transform: rotateY(360deg) 
 }
 
}

/*------------------------------------------------*/
/*End of Animations-------------------------------*/
/*------------------------------------------------*/
